table.table {
  padding-top: 30px;
  width: 100%;
  border-collapse: separate;
  text-align: left;

}

.rectangle {
  width: 30px;
  height: 15px;
  border-radius: 10px;
  background-color: #ff6f61;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  line-height: 2.11;
  color: white;
  display: inline-block;
}

.table th, .table tr .table td {
  color: #000000;
  border-bottom: solid 1px #f5e2dc;
  position:relative;

  font-family: AppleSDGothicNeo;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;

  padding: 16px;
}

.table tr.header {
  font-size: 11px;
}


.table tr.header th {
  font-weight: 900;
}

.table tr.first th {
  font-weight: 800;
}

.table tr.first th.primary {
  font-weight: 800;
}